html,
body {
  margin: 0;
  padding: 0;
  background-color: #21252b;
  -webkit-font-smoothing: antialiased;
}

.loader {
  margin-top: 40%;
  animation-delay: 0.3s;
}

#footer {
  animation-delay: 0.2s;
}

.container {
  margin-bottom: 4px;
}

.item {
  background-color: #282c34;
}

.item:hover,
.item:focus {
  background-color: transparent;
}

@media (min-width: 992px) {
  .container {
    width: 800px;
  }
}
