html,
body {
  margin: 0;
  padding: 0;
  background-color: #21252b;
  -webkit-font-smoothing: antialiased;
}

.form-inline {
  background-color: #21252b !important;
}

#courseDropDown {
  cursor: pointer;
}

#header {
  margin-bottom: 40px;
}

#select-window {
  margin-top: 200px;
  animation-delay: 0.1s;
}

.fas {
  color: white;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

label {
  cursor: text;
}

.icon {
  transition: opacity 0.2s ease-in-out !important;
}

.icon:hover {
  opacity: 0.3;
}

#course-title {
  color: white;
}

.loader {
  margin-top: 40%;
  animation-delay: 1s;
}

.btn:hover {
  color: #21252b !important;
}

#timetable-window {
  animation-delay: 0.1s;
}

#backBtn {
  cursor: pointer;
}

.fab {
  font-size: 24px;
}

.container {
  margin-bottom: 4px;
}

.item {
  background-color: #282c34;
}

.custom-select:focus, .custom-select:hover {
  border-color: #e9e9e9 !important;
  box-shadow: 0 0 5px rgb(255, 255, 255) !important;
}

.item:hover,
.item:focus {
  background-color: transparent;
}

@media (min-width: 992px) {
  .container {
    width: 800px;
  }
}
